<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
  <meta charset="utf-8">
  <title>Aion</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/static/assets/css/Bootstrap-select.css" />
  <link rel="stylesheet" type="text/css" href="/static/primeicons.css"/>
  <link rel="stylesheet" type="text/css" href="/static/theme.css"/>
  <link rel="stylesheet" type="text/css" href="/static/assets/css/AI_new.css">
  <script type="text/javascript" src="/static/assets/scripts/jquery-3.5.1.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
  <script type="text/javascript" src="/static/assets/scripts/bootstrap.min.js"></script>

  <!--<script type="text/javascript" src="/static/assets/scripts/Bootstrap-select.js"></script>-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->


</head>

<body>
  <app-root></app-root>
<script src="/static/runtime-es2015.js" type="module"></script><script src="/static/runtime-es5.js" nomodule defer></script><script src="/static/polyfills-es5.js" nomodule defer></script><script src="/static/polyfills-es2015.js" type="module"></script><script src="/static/styles-es2015.js" type="module"></script><script src="/static/styles-es5.js" nomodule defer></script><script src="/static/scripts.js" defer></script><script src="/static/vendor-es2015.js" type="module"></script><script src="/static/vendor-es5.js" nomodule defer></script><script src="/static/main-es2015.js" type="module"></script><script src="/static/main-es5.js" nomodule defer></script>
<script src="/static/main-es2015.js" type="module"></script><script src="/static/main-es5.js" nomodule defer></script>
<script src="/static/main-es2015.js" type="module"></script><script src="/static/main-es5.js" nomodule defer></script>

</body>

</html>